@font-face {
    font-family: 'FT88 Expanded';
    src: url('fonts/FT88-Expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('fonts/FT88-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 Gothique';
    src: url('fonts/FT88-Gothique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 Serif';
    src: url('fonts/FT88-Serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 School';
    src: url('fonts/FT88-School.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('fonts/FT88-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('fonts/FT88-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'happybits';
    src: url('fonts/happybits.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Type(face)';
    src: url('fonts/TypefaceRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'School 2020 l.c.';
    src: url('fonts/School2020lc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

