@font-face {
    font-family: 'happybits';
    src: url('happybits.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Type(face)';
    src: url('TypefaceRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'School 2020 l.c.';
    src: url('School2020lc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'elli';
    src: url('elli.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NBP Informa FiveSix';
    src: url('NBP-Informa-FiveSix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'basis33';
    src: url('basis33.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NameHereCondense';
    src: url('NameHereCondense.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NicoPups';
    src: url('NicoPups-Monospaced.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

